.section {
  padding: 15px 5px;
  display: flex;
  gap: 15px;
  align-items: center;
  border-radius: 15px;
}

.cat-logo {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.h1 {
  font-size: 1.3em;
  margin-bottom: 5px;
}

.p {
  font-size: 1em;
  color: var(--sec-color);
}
